.dashboardContainer {
  display: flex;
  flex-direction: column;
}

@media (min-width: 820px) {
  .dashboardContainer {
    height: calc(100vh - 74px);
    overflow-y: hidden;
    display: flex;
    align-items: stretch;
    flex-direction: row;
  }
}
