/* We can define common and design system classes here */

.center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.flex {
  display: flex;
}

.flex-column {
  flex-direction: column;
}

.spaced-flex {
  display: flex;
  justify-content: space-between;
  align-items: stretch;
}

.pill {
  font-size: 12px;
  font-weight: 600;
  border-radius: 0.25rem;
  padding: 0.25rem 0.5rem;
  color: white;
  text-transform: capitalize;
}
.pill-draft,
.pill-scheduled {
  background-color: #1c62eb;
}
.pill-live {
  background-color: #1db56c;
}
.pill-past {
  background-color: #a3a3a3;
}
